@model WebTraningDemoApp.Models.StudentModel


<h1>Sign up</h1>

@{


}

@using(Html.BeginForm(FormMethod.Post))
{
    <label asp-for="FirstName">First Name</label>
    

    @*@Html.Label("First name", "First Name")*@
    @Html.TextBoxFor(name => Model.FirstName) <br />
    @Html.Label("Last name")
    @Html.TextBoxFor(name => Model.LastName) <br />
    @Html.Label("Date of birth")
    <input type="date" asp-for="DateOfBirth" required/> <br />
    @*@Html.TextBoxFor(dob => Model.DateOfBirth) *@
    @Html.Label("Email address")
    @Html.TextBoxFor(email => Model.Email) <br />
    @Html.Label("School name")
    @Html.TextBoxFor(school => Model.Organization) <br />

    @*@Html.Password("Password")*@

    <input type="submit" value="Sign up"/>
}

@*<form>
    <label asp-for="FirstName">Name</label>
    <input asp-for="FirstName"/>
</form>*@




